.dogs{
    width: 250px;
}
.candle{
    width: 400px;
}
.tarotCard{
    width: 200px;
}

/* .css-1dipvyg-MuiContainer-root , .gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
} */
/* 
.gridContainer div:nth-child(0) { 
    grid-area: 2 / 3 / span 1 / span 1;
}
.gridContainer div:nth-child(1) { grid-area: 1 / 1 / span 2 / span 2;}
.gridContainer div:nth-child(2) { grid-area: 1 / 3 / span 1 / span 1;} */

.writingContainer{
    display: flex;
}

.writingContainer div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.amuletsCarousel img{
    width: 95%;
}
.amuletsCarousel img, .amuletsCarousel p{
    cursor: pointer;
}
